{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h1> Project Goals: </h1>
    <hr>
    <br>
    <ul id="goalList">
    {% for goal in goals %}
        <li>
            {{ goal.content }}
            <br>
            {% if current_user.id == goal.contributorID %}
                You created this goal.
            {% else %}
                {% for user in users %}
                    {% if user.id == goal.contributorID %}
                        Contributor: {{ user.name }}
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            {% if current_user.access == 2 and current_user.id == goal.contributorID %}
                <br>
                <a href="{{ url_for('proj.deleteGoal', id=goal.id) }}" class='btn btn-danger btn-sm'> Delete </a>
                <a href="{{ url_for('proj.editGoal', id=goal.id) }}" class='btn btn-primary btn-sm'> Edit </a>
            {% elif current_user.access == 3 %}
                <br>
                <a href="{{ url_for('proj.deleteGoal', id=goal.id) }}" class='btn btn-danger btn-sm'> Delete </a>
                <a href="{{ url_for('proj.editGoal', id=goal.id) }}" class='btn btn-primary btn-sm'> Edit </a>
            {% endif %}
        </li>
    {% endfor %}
    <br>
    <hr>
    {{ wtf.quick_form(goalForm) }}
    </ul>
{% endblock %}